- @html_class = "subscriptions-layout-html"
- @hide_flash = true
- page_title _('Your GitLab group')
- form_params = { trial_onboarding_flow: params[:trial_onboarding_flow],
  glm_source: params[:glm_source], glm_content: params[:glm_content], trial: params[:trial] }
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
= render "layouts/google_tag_manager_body"

.row.gl-flex-grow-1
  .gl-display-flex.gl-flex-direction-column.gl-align-items-center.gl-w-full.gl-px-5.gl-pb-5
    .new-project.gl-display-flex.gl-flex-direction-column.gl-align-items-center.gl-xs-w-full
      %h2.gl-text-center= _('Create or import your first project')

      %p.gl-text-center= _('Projects help you organize your work. They contain your file repository, issues, merge requests, and so much more.')

      .js-toggle-container.gl-w-full
        %ul.nav.nav-tabs.nav-links.gitlab-tabs.js-group-project-tabs{ role: 'tablist' }
          %li.nav-item{ role: 'presentation' }
            %a#blank-project-tab.nav-link.active{ href: '#blank-project-pane', data: { toggle: 'tab', track_label: 'blank_project', track_action: 'click_tab', track_value: '' }, role: 'tab' }
              %span= s_('ProjectsNew|Create')
          %li.nav-item{ role: 'presentation' }
            %a#import-project-tab.nav-link{ href: '#import-project-pane', data: { toggle: 'tab', track_label: 'import_project', track_action: 'click_tab', track_value: '' }, role: 'tab', qa_selector: 'import_project_tab' }
              %span= s_('ProjectsNew|Import')

        .tab-content.gitlab-tab-content.gl-bg-white.js-group-project-tab-contents
          #blank-project-pane.tab-pane.js-toggle-container.active{ role: 'tabpanel' }
            = form_tag users_sign_up_groups_path(form_params), class: 'gl-show-field-errors gl-w-full gl-p-4 js-groups-projects-form' do
              = form_errors(@group, type: "Group")
              = form_errors(@project, type: "Project")
              = render 'layouts/flash'

              .js-create-import-group-project-fields{ data: { group_persisted: @group.persisted?.to_s,
                group_id: @group.id,
                group_name: @group.name,
                project_name: @project.name,
                root_url: root_url } }

              .form-group
                .form-check.gl-mb-3
                  = check_box_tag 'project[initialize_with_readme]', '1', true, class: 'form-check-input'
                  = label_tag 'project[initialize_with_readme]', s_('ProjectsNew|Include a Getting Started README'), class: 'form-check-label'
                  .form-text.text-muted
                    = s_('ProjectsNew|Recommended if you\'re new to GitLab')

              = submit_tag _('Create project'), class: 'btn gl-button btn-confirm btn-block', data: { qa_selector: 'submit_button' }

          #import-project-pane.tab-pane.import-project-pane.js-toggle-container{ role: 'tabpanel' }
            - if import_sources_enabled?
              = form_tag import_users_sign_up_groups_path(form_params), class: 'gl-show-field-errors gl-w-full gl-p-4 js-import-project-form' do
                = form_errors(@group, type: "Group")
                = render 'layouts/flash'

                .js-create-import-group-project-fields{ data: { import_group: 'true',
                  group_persisted: @group.persisted?.to_s,
                  group_id: @group.id,
                  group_name: @group.name,
                  root_url: root_url } }

                = hidden_field_tag :import_url, nil, class: 'js-import-url'
                = submit_tag nil, class: 'gl-display-none'

              .js-import-project-buttons
                = render 'projects/import_project_pane', destination_namespace_id: @namespace&.id
            - else
              .nothing-here-block
                %h4= s_('ProjectsNew|No import options available')
                %p= s_('ProjectsNew|Contact an administrator to enable options for importing your project.')
